* {
    padding: 0; margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    .container {
        width: 100%;
        margin: 0;
    }
}

.navbar-brand {
    height: 10vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
        height: 100%;
    }
    .brand-name{
        margin-bottom: 0;
    }
}

#carouselExampleAutoplaying {
    height: 80vh;
    display: flex;
}

.carousel,
.carousel-inner,
.carousel-item {
    max-height: 80vh;
}

.carousel-item {
    transition: transform 0.8s ease-in-out;
}


.carousel-item img {
    object-position: center 25%;
    object-fit: contain;
    position: relative;
}